@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Roboto", serif;
}

body {
  background-color: rgba(0, 0, 0, 0.952);
  color: #f5f5f5;
  padding: 30px;
}

.app {
  border: 1px solid rgba(255, 255, 255, 0.425);
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgba(0, 0, 0, 0.952);
  padding: 20px 30px;
  border-radius: 30px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #0a20e9;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3;
}
button:hover {
  opacity: 0.9;
}

.todo-list {
  color: #0a20e9;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.todo {
  background-color: white;
  color: #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #109b10;
}

.remove {
  background-color: #920904;
}

.todo-form {
  padding-bottom: 1.5rem;
}

.todo-form
input,
select {
  border-radius: 3px;
  padding: 5px;
  
  width: 17em;
  margin-bottom: 10px;
  border: 1px solid #f5f5f5;

}

.todo-form .categoria{
  margin-left: 1em;
}

.todo-form button{
  
  height:2em;
  margin-left: 1em;
}

.filter,
.search {

  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options{
  display: flex;
  justify-content: space-between;
}

.filter-options select{
  width: 15em;
}

.filter-options p{
  text-align: left;
}

.filter-options div{
  text-align: right;
  padding-right: 1em;
}

.tarefa{
  font-weight: 800;
  font-size: 1.2em;
}

.category{
  
  font-weight: 400;
  font-size: 1em;
  color: #240505;
}