@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  background-color: #121212;
  color: #f4f4f4;
}

.app {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #f4f4f4;
  transition: all 0.3s ease;
  margin-bottom: 0.8em;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
}

.search input,
.filter select,
.filter button {
  text-align: center;
  padding: 12px 18px;
  margin: 0 5px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  color: #f4f4f4;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.search input:focus,
.filter select:focus,
.filter button:focus {
  outline: none;
  background-color: #555;
}

.search h2 {
  margin-bottom: 0.5em;
  padding-left: 0.2em;
}

.search input {
  width: 15em;
}

.app .filter-search-container {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.app .filter-options {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-direction: row; 
  margin-top: .5em;
  gap: 10px; 
}

.estado p {
  text-align: left;
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}

.filter h2 {
  margin-left: 0.2em;
  margin-top: 1em;
}

.filter select {
  width: 12em;
}

.ordem p {
  margin-bottom: .2em;
  text-align: center;
}

.todo-list {
  margin-top: 1.4em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #444;
  background-color: #333;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.todo:hover {
  background-color: #444;
  transform: translateX(10px);
}

.content .tarefa{
  font-size: 1.3em;
  font-weight: 600;
}


.content .category {
  font-size: 1em;
  color: #888;
  font-weight: 600;
  text-align: center;
}

button.complete,
button.remove {
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

button.remove {
  margin-left: 1em;
}

button.complete:hover,
button.remove:hover {
  transform: scale(1.05);
}

button.remove {
  background-color: #f44336;
}

button.remove:hover {
  background-color: #e91714;
}

button.complete {
  background-color: #66cc66;
}

button.complete:hover {
  background-color: #18e223;
}

.todo-form-container {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}

.todo-form input,
.todo-form select,
.todo-form button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  color: #f4f4f4;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.todo-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}

.todo-form button:hover {
  background-color: #45a049;
}

.todo,
.todo-form-container,
.filter-search-container {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .app .filter-options{
    gap: 0.1em;
  }

  .filter select {
    width: 10em;
  }

  .ordem button{
    width: 4em;
  }
  
  .filter-search-container {
    flex-direction: column;
    align-items: center;
  }

  .todo-list {
    width: 100%;
    max-width: 600px;
  }

  .todo-form-container {
    width: 100%;
    max-width: 600px;
  }
}
